/*!
 * brandonkwillia.ms v1.0 (http://www.brandonkwillia.ms)
 * Copyright 2014 Brandon K. Williams
 */

/* Container */
 .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  max-width: 960px;
}
.container > .navbar-header,
.container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
  background-color: transparent;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    background-color: transparent;
  }
}

/* Header Navigation */
.navbar {
  position: relative;
  z-index: 1000;
  min-height: 55px;
  margin-bottom: 20px;
  padding-top: 2.5px;
  border-bottom: 0px solid transparent;
  box-shadow: none;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #ffffff;
  box-shadow: .5px .5px .5px .5px rgba(0,0,0,0.05);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #999999;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
  color: #999999;
  background-color: transparent;
  font-weight: 300;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a {
  color: #243342;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #243342;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #243342;
  background-color: #ffffff;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
}
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand {
  color: #1a1a1a;
  background-color: transparent;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 13.5px 0px 10px 10px;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border-radius: 3px;
  border: dashed 0px #ffffff;
}
.navbar-collapse {
  max-height: 340px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 0px dashed #ffffff;
  box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
  background-color: #f8f8f8;
  text-align: center;
  }

/* Body Elements */
.outer-full-page {
  display: table;
  position: relative;
  width: 100%;
}
.outer-full-page-contact {
  display: table;
  position: relative;
  width: 100%;
}
.inner-full-page {
  display: table-cell;
  padding: 0px 0px 0px 0px;
  margin-top: -100px;
}
.outer-fit-white {
	display: table;
	width: 100%;
	height: 100%;
  position: relative;
}
.outer-fit-gray {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}
.outer-fit-black {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}
.inner-fit {
	display: table-cell;
	padding: 75px 0px 75px 0px;
}
.inner-fit-about {
  display: table-cell;
  padding: 75px 0px 0px 0px;
}
.inner-fit-project {
  display: table-cell;
  padding: 75px 0px 25px 0px;
}
.inner-fit-reflection {
  display: table-cell;
  padding: 35px 0px 45px 0px;
}
.inner-fit-contact {
	display: table-cell;
	padding: 10px 0px 0px 0px;
}
.outer-third-page {
  display: table;
  width: 100vw;
  height: 33vh;
}
.inner-third-page {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
  color: transparent;
}

/* Contact */
.outer-150 {
  display: table;
  width: 100%;
  height: 150px;
}
.inner-150 {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
  }


/* Work Pages */


/* Font Choices */
.font-blue {
	color: #2a2a2a;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-webkit-font-smoothing: antialiased !important;
}
.font-orange {
  color: #db9838;
}
.font-gray {
	color: #777777;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-webkit-font-smoothing: antialiased !important;
}
.font-white {
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-webkit-font-smoothing: antialiased !important;
}
.font-green {
  color: #2a2a2a;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased !important;
}
.font-light {
	font-weight: 100;
}
.font-normal {
	font-weight: 300;
}
.font-bold {
	font-weight: 500;
}

h1 {
  font-size: 300%;
	font-weight: 300;
  letter-spacing: -2px;
  line-height: 90%;
}
h2 {
	font-size: 150%;
	font-weight: 700;
  line-height: 125%;
  letter-spacing: -1px;
  font-family: 'Montserrat','Helvetica Neue','Helvetica',sans-serif;
}
h3 {
	font-size: 200%;
	font-weight: 500;
}
h4 {
	font-size: 115%;
	font-weight: 400;
  line-height: 130%;
  line-height: 115%;
}
p {
	font-size: 100%;
	font-weight: 400;
}
.headline {
  font-size: 300%;
  font-weight: 400;
  letter-spacing: -2px;
  font-family: 'Montserrat','Helvetica Neue','Helvetica',sans-serif;
}
.title {
  font-size: 800%;
  width: 100%;
  font-weight: 400;
  letter-spacing: -7px;
  font-family: 'Montserrat','Helvetica Neue','Helvetica',sans-serif;
}
.title-headline {
  font-size: 300%;
  font-weight: 400;
  letter-spacing: -2px;
  font-family: 'Montserrat';
}

/* Background Colors */
.bg-blue {
	background-color: #1a1a1a;
  border-bottom: 15px solid rgba(0, 0, 0, 0.001);
}
.bg-white {
	background-color: #f7f7f7;
  border-bottom: 5px solid rgba(0, 0, 0, 0.001);
}
.bg-gray {
	background-color: #f0f0f0;
  border-bottom: 5px solid rgba(0, 0, 0, 0.001);
}
.bg-light-blue {
  background-color: #1f1f1f;
  border-bottom: 15px solid rgba(0, 0, 0, 0.001);
}

/* Vertical Alignment */
.top {
	vertical-align: top;
}
.middle {
	vertical-align: middle;
}
.bottom {
	vertical-align: bottom;
}

/* Horizontal Alignment */
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}

/* Other Elements */
.outer-line-top {
	width: 100%;
	height: 10px;
}
.outer-line-top-thin {
  width: 100%;
  height: 0px;
}
.outer-line-bottom {
	width: 100%;
	height: 0px;
}
.outer-line-bottom-thin {
  width: 100%;
  height: 0px;
}
.inner-line {
	width: 100%;
	height: 5px;
	background-color: #243342;
  border-top: 2.5px solid rgba(255, 255, 255, 0.01);
	vertical-align: middle;
	display: table;
	margin: 0;
}
.inner-line-green {
  width: 100%;
  height: 5px;
  background-color: rgb(48, 198, 81);
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  display: table;
  margin: 0;
}
.inner-line-big {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-top: .5px solid rgba(255, 255, 255, 0.015);
  vertical-align: middle;
  display: table;
  margin:0;
}
.inner-line-blue {
	width: 100%;
  height: 5px;
  background-color: #33475c;
  border-top: 3px solid rgba(255, 255, 255, 0.05);
  vertical-align: middle;
  display: table;
  margin: 0;
}
.inner-line-white {
  width: 100%;
  height: 8px;
  background-color: #ffffff;
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  display: table;
  margin: 0;
}
.outer-small-line-top {
	width: 100%;
	height: 0px;
}
.outer-small-line-bottom {
	width: 100%;
	height: 0px;
}
.inner-small-line {
	width: 15px;
	height: 3px;
	background-color: transparent;
	vertical-align: middle;
	display: table;
	margin: 0;
}

/* Form Areas */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 100%;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .25s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out .25s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #161f27;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0.6);
  color: #555555;
}
.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 15px;
}

/* Responsive Images */
.img-responsive {
	padding: 0px 0px 0px 0px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
  background-color: white;
}
.no-shadow {
  padding: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  background-color: white;
}
.img-circle {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
background-color: white;
padding: 5px 5px;
}
/* Special Spacing */
.padded-bottom {
	padding-bottom: 15px;
}
.padded-bottom-55 {
  padding-bottom: 55px;
}
.padded-bottom-100 {
  padding-bottom: 100px;
}
.padded-top {
	padding-top: 15px;
}
.padded-bottom-25 {
	padding-bottom: 25px;
}
.padded-bottom-35 {
  padding-bottom: 35px;
}

/* Special Button */
.btn {
  display: inline-block;
  padding: 6px 0px;
  width: 250px;
  margin-bottom: 0;
  font-size: 115%;
  font-weight: 300;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid transparent;
  border-radius: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.btn-green {
	color: #161f27;
	border-color: #161f27;
	background-color: white;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transitiona: all .2s ease;
}
.btn-green:hover {
	background-color: #161f27;
	color: #ffffff;
	text-shadow: none;
}
.btn-blue {
  color: #2a2a2a;
  border-color: #ffffff;
  background-color: #ffffff;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transitiona: all .2s ease;
}
.btn-blue-work {
  color: #ffffff;
  border-color: #1a1a1a;
  background-color: #1a1a1a;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transitiona: all .2s ease;
}
.btn-green-resume {
  color: #ffffff;
  border-color: #1a1a1a;
  background-color: #1a1a1a;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transitiona: all .2s ease;
}
.btn-green-work {
  color: white;
  border-color: white;
  background-color: transparent;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transitiona: all .2s ease;
}
.btn-blue:hover {
  background-color: #333333;
  color: white;
  border-color: #333333;
  text-shadow: none;
}
.btn-blue-work:hover {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
  text-shadow: none;
}
.btn-green-resume:hover {
  background-color: #333333;
  color: #ffffff;
  border-color: #333333;
  text-shadow: none;
}
.btn-green-work:hover {
  background-color: white;
  color: #161f27;
  text-shadow: none;
}

/* Media Queries */

/* Links
.link {
	height: 100%;
	width: 100%;
	background-color: transparent;
	opacity: 0;
	color: transparent;
	vertical-align: top;
	text-align: right;
	font-size: 150%;
	font-weight: 300;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transitiona: all .2s ease;
}
.link:hover {
	background-color: #42454e;
	opacity: .9;
	color: white;
}*/
a {
	color: #222222;
	text-decoration: none;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transitiona: all .2s ease;
}
a:hover {
	color: #444444;
	text-decoration: none;
}

@media (max-width: 767px) {
	h1 {
	font-size: 200%;
	font-weight: 500;
}
	h2 {
	font-size: 150%;
	font-weight: 400;
}
	h3 {
	font-size: 125%;
	font-weight: 300;
}
	h4 {
	font-size: 115%;
	font-weight: 300;
}
	p {
	font-size: 100%;
	font-weight: 300;
}
  body {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased !important;
}
  .btn-blue-work {
  width: 100%;
}
.headline {
  font-size: 250%;
  font-weight: 400;
  letter-spacing: -1px;
  font-family: 'Montserrat','Helvetica Neue','Helvetica',sans-serif;
}
.title {
  font-size: 500%;
  width: 100%;
  font-weight: 400;
  letter-spacing: -7px;
  font-family: 'Montserrat','Helvetica Neue','Helvetica',sans-serif;
}
.title-headline {
  font-size: 250%;
  font-weight: 400;
  letter-spacing: -2px;
  font-family: 'Montserrat';
}
}
/* Video */
.video-container {     
  position: relative;     
  padding-bottom: 56.25%;     
  padding-top: 30px; 
  height: 0; 
  overflow: hidden; 
}   
.video-container iframe, 
.video-container object, 
.video-container embed {     
  position: absolute;     
  top: 0;     
  left: 0;     
  width: 100%;     
  height: 100%; 
}
body {
  width: 100%;
  overflow-x: hidden;
  font-weight: 400;
}
html {
  width: 100%;
  overflow-x: hidden;
}
h2 a{
  text-decoration: none;
  color: white;
}
h2 a:hover {
  text-decoration: none;
  color: #333333;
}
.outer-full-page:after {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -29px;
    content:'';
    width: 0;
    height: 0;
    border-top: solid 27px #1a1a1a;
    border-left: solid 27px transparent;
    border-right: solid 27px transparent;
}
.outer-fit-white:after {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -19px;
    content:'';
    width: 0;
    height: 0;
    border-top: solid 17px #f8f8f8;
    border-left: solid 17px transparent;
    border-right: solid 17px transparent;
}
.outer-fit-gray:after {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -19px;
    content:'';
    width: 0;
    height: 0;
    border-top: solid 17px #f0f0f0;
    border-left: solid 17px transparent;
    border-right: solid 17px transparent;
}
.outer-fit-black:after {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -29px;
    content:'';
    width: 0;
    height: 0;
    border-top: solid 27px #1a1a1a;
    border-left: solid 27px transparent;
    border-right: solid 27px transparent;
}
.pic {
   color: orange;
}